/* 
    Document   : EAPCSS
    Created on : Mar 25, 2014, 10:34:19 AM
    Author     : SaviorAndAngel
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
    .schoolheader {}
}

